$vw_base: 375;
@function vw($px) {
  @return ($px / $vw_base) * 100vw;
}

/* stylelint-disable */
/* function_v2 no need to  check */
.mod_slide_list_item,
.mod_qu_list .mod_qu_item,
.mod_qu_item {
  font-family: -apple-system, Helvetica, sans-serif;
}

.mod_qu_item_price {
  font-family: arial;
}

.mod_slide_list::-webkit-scrollbar,
.mod_qu_list::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
.wx_wrap {
  width: vw(375);
}

.mod_slide {
  position: relative;
  &_inner {
    overflow: hidden;
  }
  &_list {
    font-size: 0;
    font-family: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-x: auto;
    &_item {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      position: relative;
      height: 0;
      overflow: hidden;
      padding-top: percentage(340/750);
      & img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  &_indexs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: vw(10);
    font-size: 0;
    font-family: 'Helvetica';
    &_item {
      display: inline-block;
      width: vw(4);
      height: 1.06667vw;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: vw(4);
      -webkit-border-radius: vw(4);
      -moz-border-radius: vw(4);
      -ms-border-radius: vw(4);
      -o-border-radius: vw(4);
      &:not(:last-child) {
        margin-right: vw(5);
      }
    }
    .cur {
      background-color: #e4393c;
    }
  }
}

.mod_banner {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: percentage(50/375);
}
.mod_banner img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.mod_nav {
  background-color: #fff;
}
.mod_nav_list {
  display: flex;
  padding: 4vw 2.66667vw 2.66667vw;
  padding: vw(12) vw(16) vw(12);
}
.mod_nav_list_item {
  flex: 1;
  text-align: center;
  font-size: vw(12);
}
.mod_nav_list_item_logo {
  display: block;
  margin: 0 auto;
  width: vw(40);
  height: vw(40);
}
.mod_nav_list_item_logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.mod_nav_list_item_name {
  margin-top: 0.53333vw;
}

.mod_sale {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 38.13333%;
}
.mod_sale img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.mod_sale_countdown {
  position: absolute;
  bottom: 2.66667vw;
  font-size: 3.2vw;
  width: 100%;
  text-align: center;
  color: #333;
}
.mod_sale_countdown_num {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  width: 4.8vw;
  height: 6.4vw;
  font-size: 3.73333vw;
  line-height: 6.4vw;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 0.53333vw;
  margin-right: 0.53333vw;
}

.mod_sign {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.33333vw;
  margin-top: -2px;
  color: #fff;
  padding: 0 0.53333vw;
  font-size: 2.66667vw;
  border-radius: 0.26667vw;
  background-color: #e4393c;
}
.mod_sign::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  margin-top: 1px;
}
.mod_sign.bor {
  color: #e4393c;
  background-color: #fff;
}
.mod_sign.bor::after {
  content: '';
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: #e4393c;
  border: 1px solid #ddd;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  border-color: #e4393c;
  border-radius: 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .mod_sign.bor::after {
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    border-radius: 4px;
  }
}
